<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }
    </style>
    <meta charset="UTF-8">
    <title>Connected Devices</title>
</head>
<body>
    <div class="container">
        <table style="width: 100%">
            <tr>
                <th >Mac Address</th>
                <th>IP Address</th>
                <th>Name</th>
            </tr>
            {% for device in connected_devices %}
            <tr>
                <td>{{ device.mac_address }}</td>
                <td>{{ device.ip_address }}</td>
                {% if device.nickname is none %}
                <td>{{ device.hostname }}</td>
                {% else %}
                <td>{{ device.nickname }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>