<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }
    </style>
    <meta charset="UTF-8">
    <title>Connected Devices</title>
</head>
<body>
    <h1 class="text-center">Py-Fi Tracker</h1>
    <div class="container">
        <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>MAC Address</th>
            </tr>
        </thead>
        <tbody>
            {% for device in connected_devices %}
            <tr>
                {% if device.connected %}
                {% if device.nickname is none %}
                <td><img src="{{ green_led }}" alt="Green Light" style="height: 1em; width: 1em"> {{ device.hostname }}</td>
                {% else %}
                <td><img src="{{ green_led }}" alt="Green Light" style="height: 1em; width: 1em"> {{ device.nickname }}</td>
                {% endif %}
                {% else %}
                {% if device.nickname is none %}
                <td><img src="{{ red_led }}" alt="Red Light" style="height: 1em; width: 1em"> {{ device.hostname }}</td>
                {% else %}
                <td><img src="{{ red_led }}" alt="Red Light" style="height: 1em; width: 1em"> {{ device.nickname }}</td>
                {% endif %}
                {% endif %}
                <td>{{ device.mac_address }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>